Repository vmcj/domjudge-packaging: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-pr-ci, check-pr-contributor, release-ci, release-contributor

.gitlab-ci.yml:

image: docker:19.03.12

stages:
  - testing
  - release

variables:
  GITLABCI_VERSION:    "2.1"
  GITLABCI_IMAGE:      $CI_REGISTRY_IMAGE:$GITLABCI_VERSION
  CONTRIBUTOR_IMAGE:   "domjudge/domjudge-contributor"

.job_template: &job_check-pr
  stage: testing
  services:
    - docker:19.03.12-dind
  except:
    - master

check-pr-ci:
  <<: *job_check-pr
  only:
    changes:
      - docker-gitlabci/*
  script:
    - cd docker-gitlabci
    - ./build.sh $GITLABCI_VERSION

check-pr-contributor:
  <<: *job_check-pr
  only:
    changes:
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build .

.release_template: &release_docker
  environment: maintainer-approved
  stage: release
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

release-ci:
  <<: *release_docker
  only:
    refs:
      - master
    changes:
      - docker-gitlabci/*
  script:
    - cd docker-gitlabci
    - ./build.sh $GITLABCI_VERSION
    - docker push $GITLABCI_IMAGE

release-contributor:
  <<: *release_docker
  only:
    refs:
      - master
    changes:
      - docker-contributor/*
  script:
    - cd docker-contributor
    - docker build -t $CONTRIBUTOR_IMAGE
    - docker push $CONTRIBUTOR_IMAGE

Use filename
  docker-gitlabci/build.sh
Due: check-pr-ci, release-ci

Succeed
  docker-gitlabci/build.sh
Due: check-pr-ci, release-ci

Test if merged build works, should result in pushed image
  .gitlab-ci.yml
Due: none

fix: docker-contributor/Dockerfile to reduce vulnerabilities
  docker-contributor/Dockerfile
Due: check-pr-contributor, release-contributor

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

Install additional PHP versions
  docker-gitlabci/Dockerfile
Due: check-pr-ci, release-ci

Revert to current PHP version
  docker-gitlabci/Dockerfile
Due: check-pr-ci, release-ci

Version 74 is already in the default image.
  docker-gitlabci/Dockerfile
Due: check-pr-ci, release-ci

Update Dockerfile
  docker-contributor/Dockerfile
Due: check-pr-contributor, release-contributor

Update Dockerfile
  docker-gitlabci/Dockerfile
Due: check-pr-ci, release-ci

Update Dockerfile
  docker/judgehost/Dockerfile
Due: none

Update Dockerfile
  docker/domserver/Dockerfile
Due: none

Update Dockerfile.build
  docker/judgehost/Dockerfile.build
Due: none

Update Dockerfile.chroot
  docker/judgehost/Dockerfile.chroot
Due: none

Stash of work
  docker/build-judgehost.sh
  docker/build.sh
  docker/judgehost/Dockerfile
  docker/judgehost/chroot-and-tar.sh
Due: none

further stash
  docker/build-domjudge-alpine.sh
  docker/build-judgehost-alpine.sh
  docker/build.sh
  docker/domserver/Dockerfile-alpine
  docker/domserver/build-alpine.sh
  docker/domserver/configure-alpine.sh
  docker/judgehost/Dockerfile-alpine
  docker/judgehost/Dockerfile.build-alpine
  docker/judgehost/Dockerfile.chroot-alpine
  docker/judgehost/build-alpine.sh
  docker/judgehost/doas.conf
Due: none

Further stash
  docker/build.sh
  docker/judgehost/chroot-and-tar.sh
  docker/judgehost/configure.sh
Due: none

Move creation of containers to GitHub Actions
  .github/workflows/build-containers.yml
Due: none

Fixup
  .github/workflows/build-containers.yml
Due: none

This was known
  .github/workflows/build-containers.yml
Due: none

Disable GitLab CI while testing
  .gitlab-ci.yml.old
Due: none

This is also not enough
  .github/workflows/build-containers.yml
Due: none

Further debugging
  .gitlab-ci.yml
Due: none

Try with explicit buildx
  .github/workflows/build-containers.yml
Due: none

Split if we later look at where this fails in Gitlab
  docker-contributor/Dockerfile
Due: check-pr-contributor, release-contributor
